html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  background-color: #f4f4f4;
}

/* Estilos generales del header */
header {
  display: flex;
  background-size: cover;
  position: relative;
  height: 100px;
  width: 100%;
  color: white;
  align-items: flex-end;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.video-fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Para que el video cubra el fondo */
  z-index: -1; /* Envía el video al fondo */
}

header h1 {
  font-size: 60px;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: #555 5px 2px;
  margin-bottom: 0;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  max-width: 100%;
  box-sizing: border-box;
  top: -15px;
  animation: moverTextoH1 20s linear infinite;
}

@keyframes moverTextoH1 {
  from {
    left: 180%;
  }
  to {
    left: 100%;
  }
}

/* Estilo de la lista de navegación */
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: -10px;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 2px 0;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #3498db;
}

/* About me */

.recuadro {
  display: grid;
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.recuadro h2 {
  font-size: 1.5em;          /* Tamaño de fuente para el encabezado */
  color: #333;               /* Color del texto */
}

.recuadro p {
  line-height: 1.6;          /* Espaciado entre líneas */
  color: #666;               /* Color del texto */
}


/* Home Section */
#home {
  display: flex; /* Usar flexbox para alineación */
  justify-content: space-between; /* Espacio entre las columnas */
  align-items: flex-start; /* Alineación superior de las columnas */
  padding: 20px; /* Espaciado interno */
}

.info-izquierda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float: left;
  width: 30%;
  padding-right: 30px;
  text-align: center;
  box-sizing: border-box;
}

.resumen-derecha {
  float: right;
  width: 70%;
  box-sizing: border-box;
  min-height: 600px; /* Ajusta el tamaño mínimo según el contenido promedio */
  margin-bottom: 20px; /* Agrega un margen si es necesario */
}
  

.foto-perfil {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 10px; /* Centrar la imagen */
}

.info-izquierda p {
  display: flex;
  align-items: center;
  gap: 8px; /* Espacio entre el icono y el enlace */
}

.lista-tecnologias {
  list-style-type: disc; /* Viñetas estándar */
  margin-left: 20px; /* Mueve la lista hacia la derecha */
  padding-left: 10px;
}

.lista-tecnologias li {
  margin-bottom: 5px; /* Espacio entre cada ítem */
  font-size: 16px;
  color: #555;
}

.icono {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  vertical-align: middle;
}

.resumen-derecha h2 {
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
  font-size: 1.5rem;
}

.resumen-derecha p {
  line-height: 1.6;
}


/* Sections */
section {
  margin: 10px;
  padding: 10px;
}

section h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 10px;
}

/* Estilos para los proyectos */

.contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas en desktop */
  gap: 20px;
  padding: 20px;
}

.grupo {
  margin-bottom: 40px;
}

.grupo h3 {
  margin: 0 0 10px 0;
}

.proyecto {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  transition: transform 0.3s;
  text-align: center;
}

.proyecto:hover {
  transform: scale(1.05);
}

img {
  max-width: 100%;
  width: auto\9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
  padding: 1px;
}

.proyecto img {
  width: 100%; /* La imagen ocupa todo el ancho disponible */
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

#proyectos h2{
  text-align: center;
}

h3 {
  margin: 10px 0;
}

.btn-abrir {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.btn-abrir:hover {
  background-color: #0056b3;
}

main {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 0;
  box-sizing: border-box;
}

/* Media Queries para pantallas pequeñas (menos de 768px) */
@media (max-width: 768px) {

  .video-fondo {
    object-fit: cover; /* Mantiene el video cubriendo la pantalla */
    filter: brightness(0.7); /* Oscurece un poco el video en móvil para mejor legibilidad */
  }

  header h1 {
    font-size: 40px; /* Reducir ligeramente el tamaño en móviles */
    padding: 5px 5px; /* Espaciado más compacto */
    top: -22px;
    text-shadow: #555 5px 2px;
    animation: moverTextoH1 20s linear infinite;
  }

  @keyframes moverTextoH1 {
    from {
      left: 0%;
    }
    to {
      left: -5%;
    }
  }

  /* Mostrar el botón solo en pantallas pequeñas */
  .menu-toggle {
    position: absolute;
    left: 5px;
    margin-top: -25px;
    display: block;
    background-color: hsl(12, 5%, 37%);
    color: white;
    border: none;
    border-radius: 15%;
    padding: 8px;
    cursor: pointer;
    font-size: 15px;
  }

  .nav-list {
    display: none; /* Oculta el menú inicialmente */
    position: absolute;
    left: 70px; /* Alinea el menú a la derecha */
    background-color: hsl(12, 5%, 30%);
    width: 200px;
    height: 100%; /* Opción para ocupar toda la altura */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%); /* Fuera de la vista inicialmente */
    box-sizing: border-box;
}

  /* Al hacer clic en el botón, se mostrará el menú */
  .nav-list.active {
    display:flex;
    transform: translateX(0);
  }

  /* Ajustar estilo de los enlaces en la vista móvil */
  nav ul li {
    margin: 4px;
  }

  nav ul li a {
    color: white;
    text-align: left;
    font-size: 14px;
    padding: 10px;
  }

  footer {
    font-size: 14px; 
    padding: 10px 5px; 
  }

  #home {
    flex-direction: column; 
    align-items: center;
  }

  .info-izquierda, 
  .resumen-derecha {
    width: 100%; 
    max-width: none; 
    margin-bottom: 20px;
  }

  .foto-perfil {
    width: 120px;
    height: 120px;
  }

}
  
  @media (max-width: 480px) {
    .contenedor {
      grid-template-columns: 1fr;
      gap: 10px;
      
    }
  
    .proyecto img {
      height: auto; 
    }
  }

@media (min-width: 769px) {
  /* Esconder el botón en pantallas grandes */
  .menu-toggle {
    display: none;
  }
}